body{
    background-color: gainsboro;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    padding: 30px;
    border: 2px solid brown;
    border-radius: 14px;
    box-shadow: 10px 10px 10px gray;
    background-color: white;
}
.hours{
    font-size: 30px;
    background-image: linear-gradient(60deg, red, brown);
    padding: 12px 9px;
    color: transparent;
    background-clip: text;
    font-weight: 900;
}